<!--       <% link_to "link", list_path(list) %>
        <div class="col mb-4">
          <% filepath = list.photo.attached? ? list.photo : "popcorn" %>
          <a class="pic-link" href="<%= list_path(list) %>"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("<%= image_tag filepath, alt: "popcorn" %>")">
            <p><%= list.name %></p> -->
