.form {
  margin-top: 16px;
  padding: 16px;
  width: 440px;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.1);
  background-color: #f8f9fa;
}

.form-text {
  margin-top: 64px;
  text-align: center;
  color: #7c7c7d;
}
